/OnlineQuizz.Web/OnlineQuizz.Web.Core/obj
/OnlineQuizz.Web/OnlineQuizz.Web.Core/bin
/OnlineQuizz.Web/OnlineQuizz.Web.Frontend/OnlineQuizz.Web.Frontend.csproj.user
/OnlineQuizz.Web/OnlineQuizz.Web.Frontend/bin
/OnlineQuizz.Web/OnlineQuizz.Web.Frontend/obj
